[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"

[packages]
pick = "*"
colorama = "*"
selenium = "*"
webdriver-manager = "*"
apprise = "*"
aiohttp = "*"
beautifulsoup4 = "*"
asyncio-throttle = "*"
tqdm = "*"

[requires]
python_version = "3.8"
